


@media only screen and (min-width: 650px) {

    .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    }

    h1 {
        margin-top: 3rem;
    }

    .about-me-text {
        width: 50%;
        text-align: center;
        line-height: 2rem;
    }
}

@media only screen and (max-width: 649px) {

    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    }

    h1 {
        margin-top: 3rem;
    }

    .about-me-text {
        width: 50%;
        text-align: center;
        line-height: 1.5rem;
    }
}