a {
    color: inherit;
}



@media only screen and (min-width: 650px) {
    .card-container {
        display: grid;
        grid-gap: 15px;
        align-items: start;
        grid-template-areas: 
        "card-title card-image"
        "card-desc card-desc";
        width: 20vw;
        border: 1px solid lightgray;
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsla(0, 0, 0, 0.1);
    
        .card-image {
            width: min-content;
            height: 10vw;
            justify-self: right;
            margin: 0 5px 0 0;
        }

        .card-title {
            height: 10vw;
            width: auto;
            font-size: clamp(1rem, 1.5vw, 10vw);
            line-height: 1;
            margin: 0 0 0 5px;
        }

        .card-desc {
            margin: 0 0 5px 5px;
            grid-area: card-desc;
            white-space: pre-wrap;
        }
    
        h1 {
            margin: 0 1rem 0 0;
            font-size: 1rem;
            align-content: center;
            text-align: left;
            width: max-content;
        }

        .link-icon {
            width: 1vw;
            height: auto;
        }
    }
}

@media only screen and (max-width: 649px) {
    .card-container {
        display: grid;
        grid-gap: 15px;
        align-items: start;
        grid-template-areas: 
        "card-title card-image"
        "card-desc card-desc";
        width: 90vw;
        border: 1px solid lightgray;
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsla(0, 0, 0, 0.1);
    
        .card-image {
            width: auto;
            height: 30vw;
            justify-self: right;
            margin: 0 5px 0 0;
        }

        .card-title {
            height: 30vw;
            width: auto;
            font-size: clamp(1rem, 15vw, 7vw);
            line-height: 1;
            margin: 0 0 0 5px;
        }

        .card-desc {
            margin: 0 0 5px 5px;
            grid-area: card-desc;
            white-space: pre-wrap;
        }
    
        h1 {
            margin: 0 1rem 0 0;
            font-size: 1rem;
            align-content: center;
            text-align: left;
            width: max-content;
        }

        .link-icon {
            width: 3vw;
            height: auto;
        }
    }
}
