img {
    height: 90%;
    width: auto;
    align-self: center;
}

.container {
    display: flex;
    justify-content: space-around;
    height: calc((var(--window-height) - 41px));
    margin: 0;
}

@media only screen and (max-width: 649px) {
    .container {
        display: flex;
        flex-direction: column;
        height: calc((var(--window-height) - 49px));
        margin: 0;
    }

    img {
        align-self: flex-end;
    }
}

