@media only screen and (min-width: 650px) {

    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .projects-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 2vw;
    }
}

@media only screen and (max-width: 649px) {

    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .projects-text {
        width: 90vw;
        text-align: center;
    }

    .projects-card-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}